<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
            href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>


<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>상품 목록</h2>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    |location.href='@{/basic/items/{itemId}/edit(itemId=${item.id})}'|
                    th:onclick="|location.href='@{/basic/items/add}'|"
                    type="button">상품 등록</button>
        </div>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>상품명</th>
                <th>가격</th>
                <th>수량</th>
            </tr>
            </thead>
            <tbody>
<!-- 그냥 열면 th이 있는 게 열리는 게 아님-->
<!-- 그냥은 html 그대로 뷰 템플릿 이용하면 th:xxx로 변경 -->
<!-- 타임리프는 url 쓸 때 @{경로}  이걸 URL 링크 표현식이라 한다-->
<!-- $ 모델에 포함된 값을 가져옴, 프로퍼티 접근법 사용-->
<!-- 타임리프 장점 html만 수정할 때 따로 파일 경로로 창 열어서 보고 렌더링 필요하면 서버 실행하면 됨-->
            <tr th:each="item : ${items}">
                <td><a href="item.html" th:href="@{/basic/items/{itemId}(itemId=${item.id})}" th:text="${item.id}">회원id</a></td>
                <td><a href="item.html" th:href="@{|/basic/items/${item.id}|}" th:text="${item.itemName}">상품명</a></td>
                <td th:text="${item.price}">10000</td>
                <td th:text="${item.quantity}">10</td>
            </tr>

            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>